body {
    background-color: #000000;
    font-family: 'Bookman Old Style';
    color: #000000
}

h1 {
    color: white;
}

h2 {
    font-style: italic;
    letter-spacing: 5px;
    text-align: center;
}

h3 {
    text-align: center;
}

header {
    background-color: black;
    color: black;
    text-align: center;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
}

#container {
    width: 100%;
}

main {
    width: 80%;
    background-color: #48e8ff;
    float: left;
    padding: 5px;
    margin-left: 10%;
    font-family: Calibri, Verdana, sans-serif;
    color: #000000;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    width: 80%;
    margin: 0 auto;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

nav {
    color: white;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

nav ul li {
   float: left;
   padding: 5px;
}

nav ul li a:link, nav ul li a:visited {
    display: block;
    width: 150px;
    margin-right: 4px;
    color: #000000;
    padding: 2px 4px 2px 4px;
    background-color: #808080;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #0b4c9a;
}

label {
    width: 300px;
    display: inline-block;
    text-align: right;
    font-size: 20px;
    color: #808080;
}

table {
    background-color: #48e8ff;
    color: #ffffff;
    width: 10%;
    border: 5px solid #ffffff;
    padding: 45px;
    margin: 0 auto;
}

table tr th, table tr td {
   border: 1px solid #48e8ff;
   padding: 50px;
}

.row-color {
    color: #48e8ff;
}

#current-page {
    color: #723217;
}

.img-wrapper {
    display: inline-block;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #88945f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0f6aa6;
}

.button:active {
    transform: scale(0.95);
}

.cart-button {
    text-align: right;
    padding-right: 15%;
}

.cart-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cart-header h1 {
    margin: 0;
}

.cart-header button {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 10px;
}

.cart-item img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.cart-item-info {
    flex-grow: 1;
    margin-right: 20px;
}

.cart-item-price {
    font-weight: bold;
}

.cart-item-quantity {
    margin-right: 20px;
    margin-top: 20px;
}

.cart-item-quantity button {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.cart-item-quantity input {
    width: 50px;
    height: 30px;
}

.cart-item-remove {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: auto;
}

.cart-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12%;
    padding-bottom: 5%;
    width: 80%;
    margin: auto;
    font-size: 30px;
}

.cart-footer h2 {
    margin: 0;
}

.cart-item-subtotal {
    font-weight: bold;
    text-align: right;
    color: black;
    font-size: x-large;
    border: none;
    display: block;
    position: relative;
    margin-top: 20px;
}



