@charset "utf-8";

body {background-color: #208fd6; font-family: 'Bookman Old Style'; color: #000000;}

h1 {color: black;}

h2 {letter-spacing: 5px; text-align: center;}

h3 {text-align: center;}

header {background-color: #208FD6; color: #FFF0D9; text-align: center; padding: 5px; width: 80%; margin-left: 10%;}

#container {width: 100%;}

main {width: 80%; background-color: #fff0d9; float: left; padding: 5px; margin-left: 10%; font-family: 'Bookman Old Style'; color: #000000;}

footer {
    clear: both;
    background-color: #B1E3E4;
    color: #208FD6;
    text-align: center;
    margin-left: 10%;
    padding: 5px;
    font-size: 14pt;
    width: 80%;
}

a:visited {text-decoration: none; color: #ffffff;}

nav {
    color: #fffdd9;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
    text-align: center;
    background-color: #f4ce8f;
}

nav ul {list-style: none; margin: 0; padding: 0; text-align: center; display: inline-block;}

nav ul li {float: left; padding: 5px}

nav ul li a:link, nav ul li a:visited {
        display: inline-block;
        width: 150px;
        margin-right: 4px;
        color: #000000;
        padding: 2px 4px 2px 4px;
        background-color: #B1E3E4;
        text-decoration: none;
        border-radius: 5px;
    }
               
nav ul li a:hover {color: #ffffff; background-color: #4BBBD3;}

.nav-buttons {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}

ul.nav-tab > li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

ul.nav-buttons li {display: inline;}

label {
    width: 300px;
    display: inline-block;
    text-align: right;
    font-size: 20px;
    color: #FFF0D9;
}

label2 {
    color: black;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}

table {background-color: #000080; color: #ffffff; width: 10%; border: 5px solid #ffffff; padding: 45px; margin: 0 auto;}

table tr th, table tr td {border: 1px solid #000080; padding: 50px;}

.row-color {color: #000080;}

#current-page {color: #723217;}

.img-wrapper {display: inline-block; text-align: center;}

/*Buttons*/
.button {
    display: inline-block;
    background-color: #f4ce8f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {background-color: #4BBBD3;}

.button:active {transform: scale(0.95);}

/*Cart*/
.cart-button {text-align: right; padding-right: 15%;}

.cart-container {width: 80%; margin: auto; display: flex; flex-wrap: wrap;}

.cart-header {display: flex; justify-content: space-between; align-items: center; padding: 10px;}

.cart-header h1 {margin: 0;}

.cart-header button {background-color: #f4ce8f; color: #fff; border-radius: 5px; padding: 10px 20px; font-weight: bold; cursor: pointer;}

.cart-item {display: flex; justify-content: space-between; padding: 10px; border-bottom: 1px solid black; margin: 10px;}

.cart-item img {width: 150px; height: 150px; margin-right: 20px;}

.cart-item-info {flex-grow: 1; margin-right: 20px;}

.cart-item-price {font-weight: bold;}

.cart-item-quantity {margin-right: 20px; margin-top: 20px;}

.cart-item-quantity button {width: 30px; height: 30px; background-color: #f4ce8f; border-radius: 5px; font-weight: bold; cursor: pointer;}

.cart-item-quantity input {width: 50px; height: 30px;}

.cart-item-remove {width: 30px; height: 30px; background-color: red; color: white; border: none; font-weight: bold; cursor: pointer; margin-top: auto;}

.cart-footer {display: flex; justify-content: flex-end; align-items: center; padding-right: 12%; padding-bottom: 5%; width: 80%; margin: auto; font-size: 30px;}

.cart-footer h2 {margin: 0;}

.cart-item-subtotal {font-weight: bold; text-align: right; color: black; font-size: x-large; border: none; display: block; position: relative; margin-top: 20px;}

/*Reservation Button on Index Page*/
.btn-reservation {
    display: inline-block;
    background-color: #4BBBD3;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.btn-reservation:hover {background-color: #f4ce8f;}

.btn-reservation:active {transform: scale(.95);}

.btn-reservation:hover {background-color: #4BBBD3;}

.btn-reservation:active {transform: scale(.95);}

/*Delivery Button on Index Page*/
.btn-delivery {
    display: inline-block;
    background-color: #f4ce8f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-delivery:hover {background-color: #4BBBD3;}

.btn-delivery:active {transform: scale(0.95);}

/*Submit Button on Reservation Page*/
.btn-submit {
    display: inline-block;
    background-color: #f4ce8f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-submit:hover {background-color: #4BBBD3;}

.btn-submit:active {transform: scale(.95);}

/*Buttons (Cart, Reset, Add Another) on Gift Card Page*/
.btn-cart {
    display: inline-block;
    background-color: #f4ce8f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-cart:hover {background-color: #B1E3E4;}

.btn-cart:active {transform: scale(.95);}

.btn-add-another {
    display: inline-block;
    background-color: #f4ce8f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-add-another:hover {background-color: #B1E3E4;}

.btn-add-another:active {transform: scale(.95);}

.btn-reset {
    display: inline-block;
    background-color: #f4ce8f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-reset:hover {background-color: #B1E3E4;}

.btn-reset:active {transform: scale(.95);}

.header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

#form-container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    max-width: 100%;
    max-height: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Logo*/
.logo {display: inline-block;}


